.btn__over{
    display: none;

  }
  .btn__over button{
    font-size: 2rem;
    display: flex;
    padding: 0.7rem;
    border: none;
    border-radius: 50px;
  }
  
  @media screen and (max-width: 765px) {
    .btn__over{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .btn__over button:hover{
        color: #23FF00;
    }
    
  }