* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-dark: #22272e;
  --main-bg-light: #f6f6f6;
  --main-font-dark: #e6e4e5;
  --main-font-light: #383838;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  transition: all 0.5s;
}




.secondary__section {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  gap: 2rem;
}

.dark{
  color:var(--main-font-dark);
  background-color: var(--main-bg-dark);
}

.light{
  color: var(--main-font-light);
  background-color: var(--main-bg-light);
}